
* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: rgba(150, 150, 150, 1.0);
}

.container {
    width: 60vw;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 0.5rem 0 0 0;
    color: lightskyblue;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
    color: lightskyblue;
}

nav {
    text-align: center;
    color: lightskyblue;
    font-size: 1.8rem;
}

a, a:visited {
    color: lightskyblue;
    text-decoration: none;
}
.product-box {
    font-size:0.8rem;
}
.myform{
    width:80%;
    margin:auto;
    padding-top: 3rem;
}
.form-group{
    padding-top: 3rem;
}
.form-label{
    width:30%;
    float:left;
    padding:0.3rem;
}
.form-element{
    width:70%;
    float:left;
}
.button-group{
    margin-top:3rem;
    text-align:center;
}
.button-group input{
    padding:0.3rem;
}
.form-group input{
    padding:0.3rem;
    width:100%;
}